body {
    font-family: Arial, sans-serif;
    text-align: justify;
}

footer {
    text-align: center;
    color: white;
    background: linear-gradient(to right, #3949a5, #647ef3);
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #3949a5, #647ef3);
    border-radius: 14px;
    padding: 5px 10px;
    margin:  10px;
    height: 50px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;

    width: 20%;
    margin: 20px;
    padding: 20px;
}

form label {
    font-weight: bold;
}

form input {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid;
}

button {
    height: auto;
    width: auto;
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(to right, #3949a5, #647ef3);
    color: white;
    cursor: pointer;
    border-radius: 14px;
    font-weight: bold;
    border: none;
    padding: 10px;
}

table {
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #3a3a3a;
}

tr {
    height: 50px;
    border: 1px solid #3a3a3a;
}

th {
    background-color: #27368b;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #3949a5, #647ef3);
    border-radius: 14px;
    padding: 5px 10px;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}